<mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Please type input" #input>
  </mat-form-field>
<mat-table class="lessons-table mat-elevation-z8" [dataSource]="this.dataSource">
    <ng-container matColumnDef="serialNo">
        <mat-header-cell *matHeaderCellDef>Serial no</mat-header-cell>
        <mat-cell *matCellDef="let sepro">{{sepro.serialNo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="productNo">
        <mat-header-cell *matHeaderCellDef>Product no</mat-header-cell>
        <mat-cell *matCellDef="let sepro">{{sepro.productNo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
        <mat-cell *matCellDef="let sepro">{{sepro.title}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let sepro"><img style="height: 100px; width: 100px;" src="/assets/images/{{sepro.image}}"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let sepro">{{sepro.price}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let sepro">{{sepro.color}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let sepro">{{sepro.quantity}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="shortDesc">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell class="description-cell"
                  *matCellDef="let sepro">{{sepro.shortDesc}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
</mat-table>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator>