<h1 mat-dialog-title class="header-text">ADD NEW COLOR</h1>
<hr>
<mat-dialog-content class="mat-typography">
    <mat-grid-list cols="4" rowHeight="4:1" [formGroup]="colorAddForm">
        <mat-grid-tile [rowspan]="2">
            <mat-form-field appearance="standard" class="margin-r-50">
                <mat-label>Color no(Auto generate)</mat-label>
                <input matInput placeholder="Color no" formControlName="colorNo">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2">
            <mat-form-field appearance="standard" class="margin-r-50">
                <mat-label>Color name</mat-label>
                <input matInput [errorStateMatcher]="customErrorStateMatcher" placeholder="Color name" formControlName="colorName">
                <mat-error *ngIf="colorAddForm.get('colorName').hasError('required')">Color name is <strong>required</strong></mat-error>
            </mat-form-field>
        </mat-grid-tile>   
    </mat-grid-list>
</mat-dialog-content>
<hr>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Cancel</button>
    <button mat-raised-button [disabled]="!colorAddForm.valid" color="primary" cdkFocusInitial (click)="saveColor()">Save</button>
</mat-dialog-actions>